{{>header}}

<br />
<br />
<br />
<div class="ui container">
    <img class="ui centered huge image" src="/img/tools-logo.png"></img>

    <form class="ui massive form" method="GET" action="<?php echo base_url()?>Penduduk/result">
        <div class="field">
            <label></label>
            <div class="one fields">
                <input type="text" name="nama" autocomplete="off" placeholder="Cari Data Dengan Nama">
            </div>
            <div class="fields">
                <button class="huge ui green button" type="submit" tabindex="0">
                    <i class="icon search"></i>Search
                </button>
            </div>
        </div>
    </form>
</div>

{{>footer}}