<!DOCTYPE html>

<html>

<head>

</head>

<body>
    <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <img src="/img/logo-jdev.png" class="ui centered mini image" alt="logo" />
            <div class="ui horizontal inverted small divided link list">
                <a class="item" href=" ">Powerd By</a>
                <a class="item" href=" ">Node JS</a>
            </div>
        </div>
    </div>
</body>

</html>