<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,700" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="icon" type="image/png" href="/img/logo-jdev.png" />

    <title>{{title}}</title>
</head>

<body>
    <div class="inverted">
        <div class="ui container">
            <div class="ui teal fixed inverted menu">
                <li class="item">
                    <img src="/img/logo-jdev.png" alt="logo" />
                </li>
                <li class="active item">
                    <a href="/">Beranda</a>
                </li>
                <div class="ui simple dropdown item">
                    DATA <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="/keluarga" class="item"><i class="icon user"></i>
                            Kepala Keluarga</a>
                        <a href="/" class="item"><i class="icon users"></i> Member Keluarga</a>
                    </div>
                </div>
                <li class="item">
                    <a href="/help">Bantuan</a>
                </li>
            </div>
        </div>
    </div>
</body>

</html>